ui
<%= link("Take picture", to: "/take_picture")%>

<br/>
<%= link("Ping", to: "/ping")%>
<br/>
<%= link("Influxdb", to: "/iflx")%>
<br/>
<%= link("Move robot", to: "/mv_rbt") %>

  <h2>Hello World, from Phoenix!</h2>
<%= raw(@messenger) %>

